@import url(../css/rajdhani.css);

/* Variables */
:root {
    --c-dark: #212529;
    --c-brand: #4e57d4;
    --c-brand-light: rgb(108, 204, 237);
    --c-brand-rgb: 78, 87, 212;
    --c-body: #c3bdbd;
    --font-base: "Rajdhani", sans-serif;
    --box-shadow: 0 15px 20px rgba(0, 0, 0, 0.425);
    --transition: all 0.5s ease;
    --bg-dark: rgba(57, 54, 54, 0.521);
    --hover-color: lightgreen;
    --footer-height: 50px;
}

/* Reset and Helpers */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scroll */
}

body {
    display: flex;
    flex-direction: column;
    font-family: var(--font-base);
    line-height: 1.7;
    color: var(--c-body);
    background-color: var(--bg-dark);
}

.content-wrapper {
    flex: 1;
}

/* Footer */
footer {
    background-color: var(--c-dark);
    color: white;
    height: var(--footer-height);
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 15px;
}

.footer-logo {
    width: 30px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
}

.nav li {
    display: flex;
    align-items: center;
}

.nav li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    color: white; /* Ensure the icons are visible */
}

.nav li a i {
    font-size: 24px;
}

footer a {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
}

footer a:hover {
    color: var(--c-brand);
}

.footer-content .right-content p {
    margin-bottom: 0;
    font-size: 0.8rem; /* Adjust the font size as needed */
}

/* Additional Styles for Content */
.section-padding {
    padding-top: 40px;
    padding-bottom: 140px;
}

.theme-shadow {
    box-shadow: var(--box-shadow);
}

.head:hover {
    color: var(--hover-color);
}

/* IMAGE ZOOM */
.image-zoom {
    position: relative;
    overflow: hidden;
}

.image-zoom-wrapper {
    overflow: hidden;
    position: relative;
}

.image-zoom-wrapper img {
    transition: var(--transition);
}

.image-zoom:hover .image-zoom-wrapper img {
    transform: scale(1.1);
}

/* NAVBAR */
nav {
    width: 100%;
}

nav a {
    transition: 0.3s ease;
    color: white;
    font-size: 20px;
    text-decoration: none;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    padding: 20px 0;
    margin: 0 5px;
    font-size: 17px;
}

nav a:hover {
    border-top: 4px solid white;
    border-bottom: 4px solid white;
    padding: 6px 0;
}

.navbar {
    box-shadow: var(--box-shadow);
    background-color: transparent !important;
    position: fixed;
    width: 100%;
}

.navbar-nav .nav-link {
    font-weight: 500;
    font-size: 30px;
    color: var(--c-brand);
}

.navbar-nav .nav-link.active {
    color: var(--hover-color);
}

.nav-link:hover {
    color: var(--hover-color) !important;
}

/* BTN */
.btn {
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;
}

.btn-brand {
    background-color: var(--c-brand);
    color: whitesmoke;
}

.btn:hover {
    color: var(--hover-color);
}

/* Hero */
#hero {
    background: linear-gradient(rgba(25, 23, 23, 0.595), rgba(20, 19, 19, 0.26)), url(../images/background.jpg);
    background-position: center;
    background-size: cover;
    width: 100%; /* Ensure the hero section takes the full width */
}

/* Section Title */
.section-title {
    margin-bottom: 40px;
}

.section-title .line {
    width: 500px;
    height: 4px;
    background-color: var(--c-brand);
    margin: 15px auto 20px auto;
}

.section-title .p {
    margin-left: auto;
    margin-right: auto;
}

/* ICONBOX */
.iconbox {
    width: 70px;
    height: 60px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: rgba(var(--c-brand-rgb), 0.3);
    color: var(--hover-color);
    font-size: 35px;
    flex: none;
}

/* SERVICE */
.service {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1; /* Ensure it takes up the full height available */
    position: relative;
    overflow: hidden;
    z-index: 2;
}

.service::after {
    content: "";
    width: 40px;
    height: 40px;
    background-color: rgba(var(--c-brand-rgb), 0.2);
    position: absolute;
    bottom: 0;
    right: 0;
    transition: var(--transition);
}

.service:hover::after {
    width: 100%;
    height: 100%;
    background-color: rgba(90, 80, 80, 0.26);
    z-index: -1;
}

.service:hover h5,
.service:hover p {
    color: black;
}

/* COUNTER */
#counter {
    background: linear-gradient(rgba(25, 23, 23, 0.8), rgba(20, 19, 19, 0.8)), url(../images/Background_photo.jpg);
    background-position: center;
    background-size: cover;
    width: 100%; /* Ensure the counter section takes the full width */
}

/* PORTFOLIO */
.portfolio-item .iconbox {
    background-color: var(--c-brand);
    color: var(--hover-color);
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.portfolio-item:hover .iconbox {
    opacity: 1;
    top: 50%;
}

/* CONTACT */
#contact {
    position: relative;
    z-index: 2;
    width: 100%; /* Ensure the contact section takes the full width */
}

#contact::after {
    content: "";
    width: 100%;
    height: 70%;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#contact .form-control {
    border-radius: 0;
}

#contact .form-control:focus {
    box-shadow: none;
    color: var(--c-brand);
}

/* BLOG */
#blog {
    min-height: 100vh; /* Ensure the section takes at least the full viewport height */
    display: flex;
    flex-direction: column;
    width: 100%; /* Ensure the blog section takes the full width */
}

#blog .container {
    flex: 1; /* Make the container take up the full height */
    display: flex;
    flex-direction: column;
}

.blog-post {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.blog-post .image-zoom-wrapper {
    flex: 1;
}

.blog-post img {
    max-height: 200px;
    object-fit: cover;
    width: 100%;
}

.blog-post a,
.blog-post p {
    margin-top: auto;
}

.carousel-item {
    display: flex;
    align-items: center;
}

/* Media Queries */
@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .footer-logo {
        margin-bottom: 10px;
    }

    .navbar-nav .nav-link {
        font-size: 24px;
    }

    .section-title .line {
        width: 100%;
    }
}

.centered-list {
    list-style-position: inside; /* Ensure bullets are inside the list items */
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.centered-list li {
    display: list-item; /* Default display for list items */
    text-align: center; /* Center-align the text within the list items */
    width: 100%; /* Ensure items take full width */
}

.service h5 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}
